[run]
source = src/snapper,proprietary/src,scripts
branch = True
omit = */__init__.py

[report]
skip_covered = True
show_missing = True
fail_under = 100
exclude_lines =
    if __name__ == .__main__.:
    raise NotImplementedError
    ^\s*\.\.\.$
