[submodule "data/polygon"]
	path = data/polygon
	url = git@github.com:mateusz-klatt/polygon.git
[submodule "proprietary"]
	path = proprietary
	url = git@github.com:mateusz-klatt/proprietary.git
[submodule "integrations/snapper-mcp"]
	path = integrations/snapper-mcp
	url = git@github.com:mateusz-klatt/snapper-mcp.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:mateusz-klatt/snapper-frontend.git
[submodule "ios"]
	path = ios
	url = git@github.com:mateusz-klatt/snapper-ios.git
